      <div class="bottom-bar">
          <ul class="list-inline">
            <li><i class="inline-icon icon-before-and-after text-primary fa fa-shield"></i><a href="{{ site.data.global.aci.url1 }}" title="{{ site.data.global.aci.bio }}" target="_blank">{{ site.data.global.aci.name }}</a></li>
            <li><i class="inline-icon icon-before-and-after text-primary fa fa-pencil"></i><a href="{{ '/blog' | prepend: site.baseurl }}" alt="Blog de {{ site.data.global.author.name }}" title="El Blog de {{ site.data.global.author.name }}">Blog</a></li>
            <li><i class="inline-icon icon-before-and-after text-primary fa fa-rss"></i><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a></li>
          </ul>
      </div>