<script type="text/javascript" src="{{ "/js/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/page-loader.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.validate.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.localscroll-1.2.7-min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.scrollTo-1.4.3.1-min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.fitvids.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/jquery.appear.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/waypoints.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/owl.carousel.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/custom.js" | prepend: site.baseurl }}"></script>
