			<footer class="footer-3 text-center-xs space--xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <img alt="Image" class="logo" src="{{ "/img/logo-dark.png" | prepend: site.baseurl }}" />
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <span class="type--fine-print">VaCs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="type--fine-print">dev@stack.com.ve</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li data-tooltip="Github @thevacs">
                                    <a target="_blank" href="https://github.com/thevacs">
                                        <i class="socicon socicon-github icon icon--xs"></i>
                                    </a>
                                </li>
                                <li data-tooltip="Twitter @the_vacs">
                                    <a target="_blank" href="https://twitter.com/The_VaCs">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li  data-tooltip="Facebook @thevacs">
                                    <a target="_blank" href="https://www.facebook.com/thevacs">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li data-tooltip="Instagram @thevacs">
                                    <a target="_blank" href="https://instagram.com/thevacs/">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="type--fine-print">
                                Desarrollo Web PHP - Python - Django - Laravel
                            </p>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Juan Rivas.
							</span>
                            <a class="type--fine-print" href="#">Stack Developer</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>