<div id="page-content">
            <div class="page-title bottom-padded black">
        
                <div class="page-title-bg editable-alpha" data-alpha="20"><img src="{{ site.cloudinary.cloud_url }}{{ page.featured_image }}" alt="{{ page.title }}" title="{{ page.title }}" /></div>
                
                <div class="content padded dark">
                
                  <div class="top-bar">
                    <div class="pull-left">
                        <a href="{{ '/blog' | prepend: site.baseurl }}" class="btn btn-default btn-pull-up"><i class="icon-before fa fa-chevron-left"></i>Regresar</a>
                    </div>
                    <div class="pull-right">
                        <h6>El Blog de {{ site.data.global.author.name }}</h6>
                    </div>
                  </div>
                  
                  <div class="padded-vertical">
                    <span class="post-date-alt">{{ page.date | date: "%b %-d, %Y" }}</span>
                    <h1 class="medium">{{ page.title }}</h1>
                    <div class="post-meta pull-left">
                                    {% if page.tags != empty %}
                                        <span><i class="fa fa-comment"></i>
                                        {% for tags in page.tags %}
                                            {{ tags }}
                                        {% endfor %}
                                        </span>
                                    {% endif %}

                                    {% if page.categories != empty %}
                                        <span><i class="fa fa-tag"></i>
                                        {% for category in page.categories %}
                                            {{ category }}
                                        {% endfor %}
                                        </span>
                                    {% endif %}  
                    </div>
                  </div>
                  
                </div>
                  
            </div>

            <div class="container content">
    
              <div class="row">
              
                <div class="col-lg-12">