{% if paginator.total_pages > 1 %}
<nav class="paginacion">
  <ul class="pagination pagination-lg">
    {% assign url = site.baseurl | append: "/blog/" %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page > 1 %}
        {% assign prev = 'pagina/' | append: paginator.previous_page %}
      {% endif %}
      <li><a href="{{ url | append: prev }}" title="Nuevos Articulos" aria-label="Anterior"><span aria-hidden="true">&laquo;</span></a></li>

    {% else %}
      <li class="disabled"><a href="#" aria-label="Anterior"><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li> 
        {% elsif page == 1 %}
          <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }} </a></li>

        {% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }} </a></li>
        {% endif %}
      {% endfor %}


    {% if paginator.next_page %}
      <li><a href="{{ url | append: 'pagina/' | append: paginator.next_page }}" title="Viejos Articulos" aria-label="Siguiente"><span aria-hidden="true">&raquo;</span></a></li>

    {% else %}
    <li class="disabled"><a href="#" aria-label="Siguiente"><span aria-hidden="true">&raquo;</span></a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}

