---
layout: inicio_blog
title: El blog de Juan
---




<section class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="masonry">
                                <div class="masonry-filter-container">
                                    <span>Categorías:</span>
                                    <div class="masonry-filter-holder">
                                        <div class="masonry__filters" data-filter-all-text="Todas las categorías"></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="masonry__container">
                                        <div class="masonry__item col-md-4 col-sm-6"></div>
										
										 {% for post in paginator.posts %}
											 <div class="masonry__item col-md-4 col-sm-6" data-masonry-filter="{{ post.categories }}">
												<article class="feature feature-1">
													<a href="{{ post.url | prepend: site.baseurl }}" class="block">
														<img alt="{{ post.title }}" title="{{ post.title }}" src="{{ site.cloudinary.cloud_url }}{{ post.featured_image }}" />
													</a>
													<div class="feature__body boxed boxed--border">
														<span>{{ post.date | date: "%b %-d, %Y" }}</span>
														<h5>{{ post.title }}</h5>
														<a href="{{ post.url | prepend: site.baseurl }}" title="Link permanente a: {{ post.title }}">
															Leer Más
														</a>
													</div>
												</article>
											</div>
                                        <!--end item-->
										{% endfor %}
                                      
                                    </div>
                                    <!--end of masonry container-->
                                </div>
								
                                <!--end row-->
								{% include pagination.html %}
                            </div>
                            <!--end masonry-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

