<!DOCTYPE html>
<html lang="es-ve">
	{% include head.html %}
	<body class=" ">
		<a id="inicio"></a>
			{% include header.html %}
			<div class="main-container">

					{% include head_post.html %}
						{{ content }}

						</div>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of container-->
                    </div>
                </article>
            </section>
			{% include comentarios.html %}

			{% include footer.html %}
		</div>
		<a class="back-to-top inner-link" href="#inicio" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
		{% include js.html %}
	</body>
</html>
